<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p><strong>Microposts:</strong></p>
<% @user.microposts.each do |micropost| %>
  <p>
  	<%= micropost.content %><br />Created at
  	<%= format_timestamp(micropost.created_at) %> |
  	<%= link_to 'Show', micropost %>
  </p>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'All users', users_path %> |
<%= link_to 'All microposts', microposts_path %>