<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @micropost.content %>
</p>

<p>
  <strong>User:</strong>
  <%= link_to @micropost.user.name, @micropost.user %>
</p>

<p>
  <strong>Created at:</strong>
  <%= format_timestamp(@micropost.created_at) %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'All microposts', microposts_path %> |
<%= link_to 'All users', users_path %>

